html {
    height: 100%;
    width: 100%;
  }
  body{
    height: 100vh;
    padding-top: 150px;
    display: flex;
    align-content: center;
    padding-left: 30%;
  }

.card{
  /* justify-content: center;
  position: relative; */
  width: 300px;
  height: 520px;
  border-radius: 30px;
  box-shadow: 0px 5px 20px rgba(0, 0,0, 0.5);
  transition: 0.3s;
  padding: 14px 20px;
  background-color: #fff;
}

.img_box{
   
    width: 20rem;
  
  } 
 
.img_s{

   border-radius: 10px;
    width: 19em;
 
}

p {
    font-size: 15px;
    font-family: 'outfit';
    color:gray;
}
 
