html {
    height: 100%;
    width: 100%;
  }
  body{
    height: 100vh;
    padding-top: 150px;
    display: flex;
    align-content: center;
    padding-left: 30%;
  }

.card{
  /* justify-content: center;
  position: relative; */
  width: 300px;
  height: 520px;
  border-radius: 30px;
  box-shadow: 0px 5px 20px rgba(0, 0,0, 0.5);
  transition: 0.3s;
  padding: 14px 20px;
  background-color: #fff;
}

.img_box{
   
    width: 20rem;
  
  } 
 
.img_s{

   border-radius: 10px;
    width: 19em;
 
}

p {
    font-size: 15px;
    font-family: 'outfit';
    color:gray;
}
/* 
body{
    height: 100vh;
    padding-left: 340px;
    padding-top: 150px;
    /* /* display: flex; */
    /* justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center; */
  /* } */
/* .card{
    /* display: block;
    align-items: center;
    justify-content: center; */
    /* position: relative; */
    /* width: 290px;
    height: 630px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0,0, 0.5);
    transition: 0.3s;
    padding: 15px 80px;
    background-color: #fff; */
    /* cursor: pointer;
    /* cursor: pointer; */
  


  /* .img_box{
    align-items: center;
    /* position: relative; */
    /* width: 70%;
    height: 60%;
  } */ 

  /* .img_s{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 136%;
    height: 100%;
    border-radius: 21px;

} */

/* .content {
    padding-top: 50px;
} */ 
